<!DOCTYPE html>
<html ng-app="kojiki" ng-cloak>
	<head>
		<meta charset="UTF-8">
		<title>Kojiki</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
		<link rel="stylesheet" href="dist/css/application.css">
		<link href="https://file.myfontastic.com/fwyBU77beddJZdhE3NRnue/icons.css" rel="stylesheet">
	</head>
	<body ng-controller="AppController as app">

		<div class="menu">
			<div class="brand">
				<i class="icon-pie-chart"></i>
				<span>Kojiki</span>
			</div>
			<div class="session" ng-repeat="session in sessions" ng-click="activateSession(session)" ng-class="{ active: activeSession == session }">
				<i class="icon-data"></i>
				<span>{{ session.connection.name || 'New' }}</span>
			</div>
			<div class="session new" ng-click="addSession()">
				<i class="icon-plus"></i>
			</div>
		</div>

		<aside class="sidebar" ng-controller="SidebarController">
			<div class="connection">
				<div class="selected" ng-click="editConnection()">{{ connection.name || 'New Connection' }}</div>
			</div>
			<div class="database">
			{{ connection.database }}
			</div>
			<div class="navigation">
				<ul class="schema">
					<li>Tables</li>
					<li ng-repeat="table in tables | orderBy:'tablename'" ng-click="selectTable(table.tablename)">{{ table.tablename }}</li>
				</ul>
			</div>
		</aside>

		<div class="main" ng-controller="QueryController">

			<div class="tabs">
				<div class="tab" ng-repeat="query in session.queries" ng-class="{ active: selectedQuery == query }" ng-click="selectQuery(query)">
					{{ query.text || 'New Query' | limitTo:20 }}{{query.text.length > 20 ? '&hellip;' : ''}}
					<i class="icon-close close" ng-click="removeQuery(query)"></i>
				</div>
				<div class="tab new" ng-click="addQuery()"><i class="icon-plus"></i></div>
			</div>

			<div class="content">

				<div class="query">
					<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="selectedQuery.text" ng-keydown="onQueryKeypress($event)"></ui-codemirror>

					<div class="actions">
						<button type="button" ng-click="go()">Go</button>
					</div>
				</div>


				<div class="data">
					<table class="bordered">
						<thead>
							<tr>
								<th ng-repeat="col in selectedQuery.columns">{{ col }}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in selectedQuery.results">
								<td ng-repeat="col in selectedQuery.columns">{{ row[col] }}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>

		<div class="connection" ng-controller="ConnectionController">
			<div class="modal" ng-class="{ visible: visible }">
				<div class="modal-fade-screen">
					<div class="modal-inner">
						<!--<div class="modal-close" for="modal-1"></div>-->
						<h1>Connection</h1>
						<div class="form-field">
							<input type="text" placeholder="Connection Name" ng-model="connection.name">
						</div>
						<div class="select">
							<select ng-model="connection.type">
								<option value="pg">PostgreSQL</option>
								<option value="mysql">mySQL</option>
								<option value="mssql">MSSQL</option>
							</select>
						</div>

						<ul class="segmented-tabs">
					        <li><a href ng-class="{ 'is-active': connection.isUri }" ng-click="connection.isUri = true">URI</a></li>
					        <li><a href ng-class="{ 'is-active': !connection.isUri }" ng-click="connection.isUri = false">Credentials</a></li>
					    </ul>

					    <div ng-show="!connection.isUri">
							<div class="form-field">
								<input type="text" placeholder="Host" ng-model="connection.host">
							</div>
							<div class="form-field">
								<input type="text" placeholder="Port" ng-model="connection.port">
							</div>
							<div class="form-field">
								<input type="text" placeholder="User" ng-model="connection.user">
							</div>
							<div class="form-field">
								<input type="password" placeholder="Password" ng-model="connection.password">
							</div>
							<div class="form-field">
								<input type="text" placeholder="Database" ng-model="connection.database">
							</div>
							<div class="form-field">
								<input type="checkbox" ng-model="connection.ssl"> Use SSL
							</div>
					    </div>
					    <div ng-show="connection.isUri">
							<div class="form-field">
								<input type="text" placeholder="postgres://" ng-model="connection.uri">
							</div>
					    </div>


						<div class="actions">
							<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>


	</body>

	<script>
	    require('angular');
	    require('angular-loading-bar');
	    require('./app/index.js');
	</script>
</html>
