.main {
    margin-left: 325px;

    height: 100vh;

    .tabs {
        position: fixed;
        left: 325px;
        top: 0;
        right: 0;
        z-index: 99;

        background: $super-dark-blue;
        padding-left: 15px;
        height: 50px;
        border-bottom: 3px solid $action-color;

        .tab {
            position: relative;
            background: $alt-background-color;
            display: inline-block;
            height: 27px;
            margin-top: 20px;
            margin-right: 5px;
            min-width: 50px;
            padding: 2px 10px;
            text-align: center;
            cursor: pointer;
            color: $white;
            padding-right: 35px;
            font-weight: bold;

            &.active {
                background: $action-color;
            }

            &.new {
                padding-right: 10px;
            }

            .close {
                position: absolute;
                top: 6px;
                right: 5px;
                cursor: pointer;
                color: darken($white, 50%);

                &:hover {
                    color: $white;
                }
            }
        }
    }
    

    .content {
        margin-top: 50px;
        overflow-y: scroll;

        .flash {
            margin: 10px;
        }

        .query {
            //border-top: 3px solid $action-color;
            //padding: 10px;

            textarea {
                height: 200px;
                font-family: 'Source Code Pro', monospace;
            }

            .CodeMirror {
                border-bottom: 1px solid $light-gray;
                height: 200px;
            }

            .resizer {
                height: 4px;
                background: $light-gray;
                cursor: ns-resize;
            }

            .actions {
                text-align: right;
                padding: 10px;

                .status {
                    float: left
                }
            }
        }

        .data {
            padding: 10px;
        }
    }

}