
.sidebar {
    position: fixed;
    float: left;
    width: 225px;
    margin-left: 80px;

    background: $alt-background-color;
    color: $alt-font-color;

    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;

    .connection {
        padding: 10px;
    }

    .database {
        padding: 10px;
    }

    .navigation {
        padding: 10px;

        .schema {
            font-size: 0.9em;

            li {

                &.table {
                    position: relative;
                    cursor: pointer;

                    .actions {
                        position: absolute;
                        right: 0;
                        top: 5px;
                        cursor: pointer;
                    }

                    &:hover {
                        color: $action-color;
                    }
                }


            }
        }
    }
}