
.sidebar {
    position: fixed;
    float: left;
    width: 225px;
    margin-left: 80px;

    background: $alt-background-color;
    color: $alt-font-color;

    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;

    padding-left: 5px;
    cursor: default;

    .connection {
        padding: 10px;

        .selected {
            .connection-name {
                font-size: 1.5em;
                white-space: nowrap;
                overflow: hidden;
            }

            .dropdown {
                font-size: 1rem;

                .dropdown-button {
                    text-align: left;

                    i {
                        top: 15px;
                        padding-left: 10px;
                        color: transparentize($alt-font-color, 0.5);
                    }
                }

                .dropdown-menu {
                    text-align: left;
                    right: initial;
                    top: 40px;
                    width: 200px;
                }
            }
        }

        .database {
            .status {
                border-radius: 20px;
                border: 2px solid $alt-font-color;
                display: inline-block;
                height: 11px;
                width: 11px;
                margin-right: 4px;

                &.connected {
                    border: none;
                    background: $action-color;
                }
            }
        }
    }


    .navigation {
        padding: 10px;

        .schema {
            font-size: 0.9em;

            li {

                &.heading {
                    text-transform: uppercase;

                    .count {
                        color: transparentize($alt-font-color, 0.5);
                    }

                    .icon-refresh {
                        float: right;
                        cursor: pointer;

                        &:hover {
                            color: $action-color;
                        }
                    }
                }

                &.table {
                    position: relative;

                    .table-name {
                        display: inline-block;
                        width: 180px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .actions {
                        position: absolute;
                        right: 0;
                        top: 5px;
                        cursor: pointer;

                        .dropdown-menu > li {
                            text-align: left;
                        }
                    }

                    .dropdown-button:hover {
                        cursor: pointer;
                        color: $action-color;
                    }
                }


            }
        }
    }
}