$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: $red !default;
$notice-color: #e5edf8 !default;
$success-color: $action-color !default;

@mixin flash($color) {
    background-color: $color;
    color: white;
    display: block;
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2;
    border-radius: $base-border-radius;

    a {
        color: white;
        text-decoration: underline;

        &:focus,
        &:hover {
            color: darken(white, 20);
        }
    }

    .dismiss {
        position: absolute;
        top: 14px;
        right: 20px;
    }
}

.flash-alert {
    @include flash($alert-color);
}

.flash-error {
    @include flash($error-color);
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

.flash-notice {
    @include flash($notice-color);
}

.flash-success {
    @include flash($success-color);
}