.segmented-tabs {
    $segmented-border-radius: 4px;
    text-align: center;
    font-size: 0;
    
    &.three {
        li {
            width: 33%;
        }
    }

    li {
        display: inline-block;
        margin-left: -1px;
        font-size: 16px;
        width: 50%;

        a {
            border: 1px solid $base-border-color;
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            display: block;
            text-decoration: none;
            font-weight: bold;

            &:hover,
            &:active,
            &:focus {
                border-color: $base-border-color;
                color: $action-color;
            }

            &.is-active {
                border-color: $action-color;
                background: $action-color;
                color: white;
            }
        }

        &:first-child {
            a {
                border-top-left-radius: $segmented-border-radius;
                border-bottom-left-radius: $segmented-border-radius;
            }
        }

        &:last-child {
            a {
                border-top-right-radius: $segmented-border-radius;
                border-bottom-right-radius: $segmented-border-radius;
            }
        }
    }
}
