.menu {
    $size: 80px;
    $title-bar-height: 22px;

    position: fixed;
    //position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $size;
    background: $super-dark-blue;

    .brand {
        height: 115px; // $size + $title-bar-height;
        font-size: 1.5em;
        padding-top: 13px + $title-bar-height;
        background: $action-color;
        color: $white;
        -webkit-app-region: drag;
        -webkit-user-select: none;
        cursor: default;

        text-align: center;
        i {
            font-size: 2em;
            line-height: 1em;
        }
        span {
            display: block;
            margin-top: -10px;
        }
    }

    .session {
        height: $size;
        padding: 10px;
        cursor: pointer;

        i {
            display: block;
            text-align: center;
            color: darken($white, 20%);
            font-size: 2em;
        }
        span {
            text-align: center;
            display: block;
            color: darken($white, 20%);
            font-size: 0.8em;
        }

        &.new {
            padding-top: 10px;
        }

        &:hover {
            i, span {
                color: $white;
            }
        }

        &.active {
            i {
                color: $action-color;
            }
            span {
                color: $action-color;
            }
        }
    }
}